<div class="container p-4">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center bg-dark">
                <div class="card-header">
                    <h3>Agregar producto</h3>
                </div>

                <div class="card-body">
                    <form action="/agregarProducto" enctype="multipart/form-data" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Nombre producto" name="nombre_producto"
                                autofocus>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="caracteristica_producto" cols="2" rows="2"
                                placeholder="Caracteristica del producto"></textarea>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="number" name="precio" placeholder="Precio del producto">
                        </div>

                        <div class="form-group text-left">
                            <div class="input-group mb-3">
                                <div class="custom-file">
                                    <input name="imagen_producto" type="file" class="custom-file-input" id="inputFile">
                                    <label class="custom-file-label" for="inputGroupFile02"
                                        aria-describedby="inputGroupFileAddon02"
                                        data-browse="Seleccionar imagen">Archivo...</label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <select name="id_cp2" class="form-control">
                                {{#each categorias}}
                                <option value="{{id_cp}}">{{nombre_cp}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class="form-group">
                            <button class="btn btn-success btn-block">¡Agregar Producto!</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.custom-file-input').addEventListener('change', function (e) {
        var fileName = document.getElementById("inputFile").files[0].name;
        var nextSibling = e.target.nextElementSibling
        nextSibling.innerText = fileName
    })
</script>