{{existeAdmin true}}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center bg-dark">
                <div class="card-body">
                    <h3>Welcome {{user.username_admin}}</h3>

                    <h6><em>Acceso administrador</em></h6>

                    <a href="/listaProductos" class="btn btn-outline-primary">Productos</a>
                    <a href="/listaCategorias" class="btn btn-outline-primary">Categorias</a>
                </div>
            </div>
        </div>
    </div>
</div>