{{guardarValor estado}}
<main class="index">
    <header class="masthead d-flex">

        <div class="container text-center mx-auto">
            <h1>¡Bienvenido!</h1>
            <h3 class="mb-5">
                <em>¡Compra tus productos de botanica en este sitio!</em>
            </h3>

            <h3>Consulta nuestas <a href="/categorias">Categorias</a></h3>
            
        </div>
    </header>
</main>